@import url("chrome://komodo/skin/plat/current/window.less");

splitter.multiview_splitter
{
    min-width: 3px !important;
    min-height: 3px;
}

#topview tabpanel view
{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

statusbar
{
    .statusbar-resizerpanel
    {
        -moz-appearance: none;
    }
}

button
{
    min-height: 23px;
    transition: all 200ms ease;
}

:-moz-any(textbox, menulist, button[type="menu"]):not(.plain)
{
    border-color: #5f5f5f;
}

minimap
{
    border-left: 1px solid #353535 !important;
}

page :not(toolbarbutton):not(toolbaritem),
window#komodo_main :not(toolbarbutton):not(toolbaritem)
{
    & > :-moz-any(button,toolbarbutton):not(.tab-close-button):not(.tabs-closebutton)
    {
        padding: 2px;
        margin: 2px;

        transition: all 0.2s ease;

        & > :-moz-any(button, toolbarbutton)
        {
            margin: 0;
            -moz-appearance: none;
        }
    }
}

#prefWindow
{
    padding: 0;

    #pref-deck-vbox + splitter + vbox
    {
        padding: 6px;
    }
}

notification
{
    -moz-appearance: @window-appearance;
    background: @window-background;
    color: @window-color;
}

treechildren:not(.autocomplete-treebody)::-moz-tree-row
{
    -moz-border-top-colors: transparent;
    -moz-border-right-colors: transparent;
    -moz-border-left-colors: transparent;
    -moz-border-bottom-colors: transparent;
    outline: 0 !important;
}

dialog#dialog-featurecontrolpanel {
    background-color: #333 !important;
    vbox {
        background-color: lighten(#333, 5%) !important;
    }
    hbox[style*='background-color: #E7E3DE;'] {
        background-color: darken(#333, 5%) !important;
    }
}

#view-quickstart .editor-field button {
    background-color: #606060 !important;
    background-image: none;
}

#main-toolboxrow-wrapper #toggleLeftPane[checked="true"] {
    list-style-image: url('chrome://DeepFocus/skin/images/ko_layout-left4.png') !important;
}

#main-toolboxrow-wrapper #toggleRightPane[checked="true"] {
    list-style-image: url('chrome://DeepFocus/skin/images/ko_layout-right4.png') !important;
}

#main-toolboxrow-wrapper #toggleBottomPane[checked="true"] {
    list-style-image: url('chrome://DeepFocus/skin/images/ko_layout-bottom4.png') !important;
}
